{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "filenames",
    "import",
    "prettier"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-console": 0
  }
}
