{
  "adminChannel": "sonos-admin",
  "gongLimit": 3,
  "slackToken": "xoxb-zzzzzzzzzzzzzzzzz",
  "sonosAddress": "10.0.1.125",
  "spotifyApiKey": "c3BvdGlmeUFwaUtleUdvZXNIZXJl",
  "standardChannel": "sonos"
}
