{
  "adminChannel": "sonos-admin",
  "gongLimit": 3,
  "slackToken": "xoxb-zzzzzzzzzzzzzzzzz",
  "sonosAddress": "10.0.1.125",
  "spotifyClientId": "zzzzzzz",
  "spotifySecret": :xxxxxxxxx",
  "standardChannel": "sonos"
}
